.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80%;
    margin-left: 6em;
    margin-bottom: 6em;
}

.title,.para {
    text-align: center;
    position: relative;
    left: 2.4em;
}

.para {
    left: 3.6em;
    width: 150%;
}

.download-top,.what {
    position: relative;
    margin: 1em 0 3em 0;
    left: 5.5em;
}

.section-first {
    position: relative;
    left: 2.3em;
    top: 2em;
}

.photo-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5.87em;
    margin-top: 15em;
}

.photo-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-second,.row-third {
    position: relative;
    left: 1.3em;
}

.col-third {
    position: relative;
}

.col-third,.row-third {
    top: 2em;
}

.photo-row img {
    width: 72vw;
    border-radius: 15px;
}

.subtitle:first-of-type,.title-txt,.txt-second {
    text-align: center;
    position: relative;
    left: 3em;
}

.title-txt {
    left: 2em;
}

.title {
    font-size: 40px;
}

.para {
    font-size: 32px;
    color: #87879D;
}

.download-top,.download-bottom {
    border-radius: 12px;
    padding: 1em 5em;
    background-color: #4D96A9;
}

.download-top,.download-bottom {
    border-radius: 35px;
}

#info {
    position: relative;
    border-radius: 35px;
    left: 9em;
}

.download-bottom,.download-top,.what {
    color: #fff;
    font-size: 20px;
}

.what {
    border-radius: 12px;
    padding: 1em 2em;
    background-color: #855FB1;
}

.download-top {
    margin-bottom: 2em;
}

.subtitle:first-of-type {
    font-size: 22px;
    color: #4D96A9;
    letter-spacing: 4px;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 11em;
}

.title-txt {
    color: #28283D;
    font-weight: bold;
    font-size: 45px;
    line-height: 36px;
}

.txt-second {
    color: #87879D;
    font-size: 25px;
    line-height: 26px;
    width: 110%;
}

.section-first {
    color: #87879D;
    border-radius: 50%;
    font-size: 45px;
    line-height: 26px;
    padding: 1em;
    border: 1px solid #87879D;
}

.section-second {
    position: relative;
    top: 21em;
    z-index: 200;
    background-color: #fff;
}

.bottom {
    position: relative;
    width: 100vw;
    margin-top: 8em;
}

.download-bottom {
    background-color: #855FB1;
    position: relative;
    bottom: 9em;
    left: 5.5em;
}

.bottom img {
    z-index: 50;
    position: relative;
    top: 47.9em;
    width: 159vw;
    height: 70vh;
    z-index: 10;
    padding-bottom: 0;
}

.bottom-txt {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    width: 227.3%;
    height: 85.4vh;
    bottom: 0;
    left: 0;
    background-color: #4D96A9;
    padding-bottom: 0;
    opacity: 85%;
}

.subtitle:last-of-type,.txt-third {
    color: #fff;
    position: relative;
    left: 9em;
}

.subtitle:last-of-type {
    z-index: 400;
    position: relative;
    left: 3em;
    bottom: 8em;
    font-size: 45px;
    line-height: 36px;
    text-transform: none;
    width: 45%;
}

.txt-third {
    width: 40%;
    position: relative;
    left: 5em;
    bottom: 11em;
    font-size: 25px;
    line-height: 26px;
}

@media (min-width: 768px) {
    .logo {
        position: relative;
        width: 33.33%;
        left: 8em;
        margin-top: 2em;
    }

    .banner-mobile {
        width: 168vw;
        position: relative;
        left: 14em;
    }

    .title {
        top: 2em;
        font-size: 56px;
        line-height: 48px;
        width: 65%;
    }

    .para {
        position: relative;
        left: 5em;
        margin-top: 4em;
        width: 95%;
    }

    .download-top {
        padding: 1em 2em;
    }

    .section-first {
        left: 3.5em;
    }

    .photo-row img {
        width: 33vw;
    }

    .photo-row {
        margin-right: 2.5em;
    }

    .photo-grid {
        flex-direction: row;
        position: relative;
        left: 15em;
    }

    .photo-col,.photo-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        top: 0;
        left: 0;
    }

    .subtitle,.title-txt,.txt-second {
        bottom: 5em;
    }

    .txt-second {
        bottom: 9em;
        left: 5.5em;
    }

    .title-txt {
        width: 60%;
    }

    .section-second,.bottom,.bottom img, .bottom-txt {
        position: relative;
        bottom: 73em;
    }
    .section-second {
        top: -5em;
    }
    .bottom-txt {
        margin-bottom: -120em;
        text-align: center;
    }

    .subtitle:last-of-type {
        width: 25%;
        left: 3em;
    }

    .subtitle {
        font-size: 40px;
        line-height: 44px;
    }

    .txt-third,.download-bottom {
        position: relative;
        left: 8em;
        bottom: 4em;
    }

    .subtitle:first-of-type {
    color: #4D96A9;
    font-size: 22px;
    letter-spacing: 4px;
    line-height: 26px;
    text-transform: uppercase;
    width: 100%;
    
    }

    #final {
        z-index: 400;
        position: absolute;
        bottom: 65vh;
        left: 22vw;
        color: #fff;
    }
}

@media (min-width:1440px) {
    
}